  <div class="footer-links">
    Use of this website is subject to the <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/TERMS-OF-SERVICE.md" target="_blank">Terms of Service</a>.<br><br>
    Participation is subject to the <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/CODE-OF-CONDUCT.md" target="_blank">Code of Conduct</a>.<br>
    Contributors should review the <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/CONTRIBUTING.md" target="_blank">Contributing</a> guidelines.<br>
    Open Source Reviews Curated by Github Users is governed by <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/GOVERNANCE.md" target="_blank">Governance</a> guidelines.<br>
    All activity is subject to <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/MODERATION.md" target="_blank">Moderation</a>.<br><br>
    Please review the <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/blob/main/NOTE-WELL.md" target="_blank">Note Well</a>.<br>
    <br>
    Chat in #OpenSourceReviews on Libera Chat
  </div>
