<div class="github-badges">
  <a href="https://github.com/opensourcereviews/opensourcereviews.github.io" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/github/stars/opensourcereviews/opensourcereviews.github.io?style=social" alt="GitHub stars">
  </a>
  <a href="https://github.com/opensourcereviews/opensourcereviews.github.io" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/github/forks/opensourcereviews/opensourcereviews.github.io?style=social" alt="GitHub forks">
  </a>
  <a href="https://github.com/opensourcereviews/opensourcereviews.github.io" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/github/watchers/opensourcereviews/opensourcereviews.github.io?style=social" alt="GitHub watchers">
  </a>
  <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/issues" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/github/issues/opensourcereviews/opensourcereviews.github.io" alt="GitHub issues">
  </a>
  <a href="https://github.com/opensourcereviews/opensourcereviews.github.io/pulls" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/github/issues-pr/opensourcereviews/opensourcereviews.github.io" alt="GitHub pull requests">
  </a>
</div>
